[blogPosts]
postsPerPage = "5"
categoryPage = "blog/category"
postPage = "blog/post"
sortOrder = "published_at desc"
==
<div class="hidden-md">
    <div class="sidebar-close visible-xs">
        <a href="javascript:;" onclick="toggleSidebar()" class="close">&times;</a>
    </div>

    <div class="sidebar-segment">
        <h2 class="segment-title">精选</h2>
        <ul class="segment-list">
            {% for post in blogPosts.posts %}
                <li><a href="{{ post.url }}">{{ post.title }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>


<!-- <div class="sidebar-segment">
    <h2 class="segment-title">传送门</h2>
    <ul class="segment-list">

    </ul>
</div> -->
