title = "Blog Post"
url = "/blog/post/:slug"
layout = "default"
description = "Viewing a single blog post"
is_hidden = 0

[blogPost]
slug = "{{ :slug }}"
categoryPage = "blog/category"

[resources]
less[] = "pages/blog.less"
==
<?php
function onEnd()
{
    if ($this->post) {
        $this->page->title = $this->post->title;
    }
    else {
        return Redirect::to($this->pageUrl('404'));
    }
}
?>
==
{% set image = post.featured_images.first %}
{% set nextPost = blogPost.nextPost %}
{% set lastPost = blogPost.previousPost %}
<div class="post-single">
    <article>
        {% if image %}
            <div class="post-image">
                <img src="{{ image.path }}" alt="{{ post.title }}" />
            </div>
        {% endif %}
        <header class="post-title">
            <h2>{{ post.title }}</h2>
        </header>

        <div class="post-content">
            {{ post.content_html|raw }}
        </div>
    </article>
    <nav class="post-links">
        <div class="link-previous col-lg-6">
            <p>上一篇</p>
            {% if lastPost %}
            <a href="{{ lastPost.url }}"><span>{{ lastPost.title }}</span></a>
            {% else %}
            <a href="{{ lastPost.url }}"><span>已经到头了</span></a>
            {% endif %}
        </div>
        <div class="link-next col-lg-6">
            <p>下一篇</p>
            {% if nextPost %}
            <a href="{{ nextPost.url }}"><span>{{ nextPost.title }}</span></a>
            {% else %}
            <a href="#"><span>已经到底了</span></a>
            {% endif %}
        </div>
    </nav>
</div>
